PyYAML==6.0.1
google-cloud-secret-manager~=2.7.0
google-cloud-error-reporting~=1.2.0
google-cloud-billing-budgets~=1.4.0
google-api-python-client~=2.86.0
jinja2~=3.0.0
sendgrid~=6.9.7
python-json-logger~=2.0.0
autolink~=0.1.0
oauth2client~=4.1.0
parsedatetime~=2.6
python-dateutil~=2.8.0
google-cloud-storage~=1.42.0
grpcio~=1.53.0
google-cloud-iam~=2.3.0
google-cloud-bigquery~=3.9.0
google-cloud-recommender~=2.3.0
openpyxl~=3.0.0
tablepyxl~=0.6.0
recurrent~=0.4.0
filemagic~=1.6
google-cloud-pubsub~=2.16.0
msal~=1.25.0
requests~=2.31.0
responses~=0.18.0
markupsafe~=2.0.0
twilio~=7.9.0
falcon~=3.1.0
waitress~=2.1.0
cryptography>=41.0.2
certifi==2023.7.22
google-cloud-resource-manager~=1.7.0
google-api-core==2.15.0
google-api-core[grpc]==2.15.0
googleapis-common-protos==1.62.0
Flask==2.0.2
json_fix~=0.5.0
PyGithub~=1.58.0
paramiko~=3.4.0
GitPython~=3.1.32
parse~=1.19.0
urllib3==1.26.18
pydantic==2.6.1
